<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NurEmrMaintain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NurEmrMaintain.Properties.Settings>
            <setting name="NurEmrMaintain_WebNurseEmrComm_DocServComm" serializeAs="String">
                <value>http://130.150.160.116/dthealth/web/DWR.NurseEmrComm.cls</value>
            </setting>
        </NurEmrMaintain.Properties.Settings>
    </applicationSettings>
</configuration>